/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log
/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log.2023-07-31.0.gz
/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log.2023-08-02.0.gz
/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log.2023-08-08.0.gz
/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log.2023-08-10.0.gz
/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log.2023-08-11.0.gz
/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log.2023-08-14.0.gz
/CAMINHO_DA_PASTA_LOG_DO_NOWnowApiGateway.log.2023-08-15.0.gz
/qodana.yaml
